<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="fragments/main.html :: header-links">
</head>
<body>
<script type="text/javascript" src="/js/main.js"></script>
<div class="container">

    <div class="row justify-content-center">
        <div class="col-5">
            <p>Всего книг в базе: <strong th:text="${booksQuantity}"></strong>
                <small>(<span th:text="${lastFileUpdate}"></span>)</small>
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
            <form action="/" method="get">
                <div class="form-inline">
                        <input type="text" maxlength="80" class="form-control" id="searchBook"
                               name="searchBook"
                               autofocus
                               placeholder="Автор/Название/ISBN"
                               th:value="${searchBook}"/>

                        <div class="ml-2">
                            <input type="text" maxlength="10" class="form-control" id="publisher"
                                   name="publisher"
                                   placeholder="Издательство"
                                   th:width="30px"
                                   th:value="${publisher}"/>
                        </div>

                    <button type="submit" class="btn btn-primary ml-2">Искать</button>
                </div>
            </form>
        <div class="ml-4 mt-2">
            <span>Найдено книг: <strong th:text="${bookList.size()}">24</strong></span>
        </div>
        <div class="ml-4">
            <form action="/download" method="get">
                <input type="hidden" name="searchBook" th:value="${searchBook}">
                <input type="hidden" name="publisher" th:value="${publisher}">
            <button type="submit"  class="btn btn-info ml-2">Загрузить XLS</button>
        </div>
    </div>

    <div class="row"><p></p></div>

    <div class="row">
        <table class="table table-striped table-hover table-bordered" id="datatable">
            <thead>
            <tr>
                <th class="text-center" width="35%">Книга</th>
                <th class="text-center" width="25px">Год</th>
                <th class="text-center" width="15%">Издательство</th>
                <th class="text-center">Перевозчик</th>
                <th class="text-center" width="115px">ISBN</th>
                <th class="text-center" width="10px">№</th>
                <th class="text-center" width="60px">Дата</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${bookList}">
                <td><span th:text="${book.ruTitle}"></span><br/>
                    <div class="row">
                        <div class="col-md-8"><strong th:text="${book.author}"></strong></div>
                    </div>
                </td>
                <td th:text="${book.yearOfPublish}" class="text-center">Dummy</td>
                <td th:text="${#strings.abbreviate(book.publisher, 34)}">Dummy</td>
                <td th:text="${#strings.abbreviate(#strings.substring(book.tradeCompany, 100), 35)}" class="text-center">
                    Dummy
                </td>
                <td th:text="${book.isbn}" class="text-center">Dummy</td>
                <td th:text="${book.documentNum}" class="text-center">Dummy</td>
                <td class="text-center"><span class="hide"
                                              th:text="${#dates.format(book.documentDate, 'yyyyMMdd')}"></span><span
                        th:text="${#dates.format(book.documentDate, 'dd MMM yyyy')}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <p></p>
    </div>

    <div class="row">
        <small>
            <strong>Стаття 15.</strong> Суспільне життя в Україні ґрунтується на засадах політичної, економічної та
            ідеологічної
            багатоманітності.

            Жодна ідеологія не може визнаватися державою як обов'язкова.

            Цензура заборонена.
        </small>
    </div>
    <div class="row">
        <p></p>
    </div>
</div>
</body>
</html>