<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="fragments/main.html :: header-links">
</head>
<body>
<div class="container">

    <div class="header header-panel">
        <div class="row">
            <p>Всего книг в базе: <strong th:text="${booksQuantity}"></strong>.
                Последнее обновление: <em><span th:text="${lastFileUpdate}"></span></em></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <form class="form-horizontal" action="/" method="get">
                <div class="form-group">
                    <label for="searchBook" class="col-sm-4 control-label">Автор/Название</label>
                    <div class="col-md-8">
                        <input type="text" maxlength="80" class="form-control" id="searchBook"
                               placeholder="Содержательная часть Автора и/или Названия"
                        th:text="${searchBook}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="publisher" class="col-sm-4 control-label">Издательство</label>
                    <div class="col-md-8">
                        <input type="text" maxlength="200" class="form-control" id="publisher"
                               placeholder="Содержательная часть названия">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-primary">Искать</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <h4>Найдено книг: <strong th:text="${bookList.size()}">24</strong></h4>
    </div>

    <div class="row">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th class="text-center">Книга</th>
                <th>Год</th>
                <th>Издательство</th>
                <th>Перевозчик</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${bookList}">
                <td><span th:text="${book.ruTitle}"></span><br/>
                    <div class="row">
                        <div class="col-sm-8"><strong th:text="${book.author}"></strong></div>
                        <div class="col-sm-4"><small>(
                            <span th:text="${book.isbn}"></span>
                            )</small>
                        </div>
                    </div>
                </td>
                <td th:text="${book.yearOfPublish}">Dummy</td>
                <td th:text="${book.publisher}">Dummy</td>
                <td th:text="${book.tradeCompany}">Dummy</td>
            </tr>
            </tbody>
        </table>


    </div>

</div>
</body>
</html>