<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="More flexible access to ukrainian censorship database"/>
    <meta name="author" content="taras"/>

    <title>Mailing List</title>
</head>
<body>
    <table>
        <tr>
            <th>Автор</th>
            <!--<th>PRICE</th>-->
            <!--<th>IN STOCK</th>-->
        </tr>
        <!--<tr th:each="book : ${bookList}">-->
            <!--<td th:text="${mail}">Dummy</td>-->
            <!--<td th:text="${prod.price}">2.41</td>-->
            <!--<td th:text="${prod.inStock}? #{true} : #{false}">yes</td>-->
        </tr>
    </table>
</body>
</html>