<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="More flexible access to ukrainian censorship database"/>
    <meta name="author" content="taras"/>

    <title>Книги, прошедшие цензуру</title>
</head>
<body>
<section>
    <div>
        <h4>Всего книг в базе: <strong><span th:text="${booksQuantity}"></span></strong></h4>
        <p>Последнее обновление: <em><span th:text="${lastFileUpdate}"></span></em></p>
    </div>
</section>

<!--<table>-->
<!--<tr>-->
<!--<th>Автор</th>-->
<!--&lt;!&ndash;<th>PRICE</th>&ndash;&gt;-->
<!--&lt;!&ndash;<th>IN STOCK</th>&ndash;&gt;-->
<!--</tr>-->
<!--&lt;!&ndash;<tr th:each="book : ${bookList}">&ndash;&gt;-->
<!--&lt;!&ndash;<td th:text="${mail}">Dummy</td>&ndash;&gt;-->
<!--&lt;!&ndash;<td th:text="${prod.price}">2.41</td>&ndash;&gt;-->
<!--&lt;!&ndash;<td th:text="${prod.inStock}? #{true} : #{false}">yes</td>&ndash;&gt;-->
<!--</tr>-->
<!--</table>-->
</body>
</html>